{% extends "_base.html" %}

{% block title %}{% endblock %}

{% block content %}

  <div class="container">
<a data-toggle="modal" data-target="#myModal1">New Shop</a>
    <h1 style="display:inline-block">Shops</h1>
    <a href="#" class="btn btn-success btn-md" style="display:inline-block" data-toggle="modal" data-target="#myModal1">
      <span class="glyphicon glyphicon-plus"></span>Add Shop
    </a>
    
<br><br><br>

    {% for shop in shops %}
    <div class="row">
      <div class="col-sm-4"><a href="#" class=""><img src="http://placehold.it/300x300" class="img-responsive"></a>
      </div>
      <div class="col-sm-8">
        <h3 class="title">{{shop.name}}</h3>
        <p><span class="glyphicon glyphicon-pencil"></span> City</p>
        <p>{{shop.city}}</p>
        <br>
        <p><span class="glyphicon glyphicon-info-sign"></span> Description</p>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
          in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
          sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <br>
        <a class="btn btn-sm btn-danger show-shop-btn" href="/show/{{shop.id}}">Show</a>
        <button class="btn btn-sm btn-danger delete-shop-btn" data-id="{{shop.id}}">Delete</button>
        <button type="button" class="btn btn-primary btn-sm update-shop-btn" data-toggle="modal" data-target="#myModal" data-id="{{shop.id}}" data-city="{{shop.city}}" data-name="{{shop.name}}">Update</button>
      </div>
    </div>
    <hr>
    {% endfor %}

  </div>

  <!-- Modal-Edit -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <form id="modal-shop-form">
            <div class="form-group">
              <input type="text" class="form-control" name="title" id="update-shop-name">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="genre" id="update-shop-city">
            </div>
            <input type="hidden" name="id" id="update-shop-id">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal-Add New Shop -->
  <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <h2>New Shop</h2>
          <form id="modal-newshop-form">
            <div class="form-group">
              <label for="new-shop-name">Name</label>
              <input type="text" class="form-control" name="title" id="new-shop-name">
            </div>
            <div class="form-group">
              <label for="new-shop-city">City</label>
              <input type="text" class="form-control" name="genre" id="new-shop-city">
            </div>
            <input type="hidden" name="id" id="new-shop-id">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
